@model AgricolaWeb.Models.Grupos

@{
    ViewData["Title"] = "Eliminar Grupo";
}

<h2>Confirmar eliminación</h2>

<p>¿Estás seguro que deseas eliminar este grupo?</p>

<div>
    <h4>Grupos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
 
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdLote" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>